.link {
    color: #0088cf;
    font-weight: bold;
}

.large-card {
    width: 15vw;
    height: 20vh;
    background-color: #ffffff;
    padding: 1rem;
    margin-left: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.large-card img {
    border-radius: 0.3rem;
    grid-column: span;
}
.large-card h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.space-between {
    justify-content: space-between;
}

.container {
    margin-top: 10%;
}

.create {
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 1.6rem;
    color: white;
    background: #0088cf;
    font-size: 1rem;
}

.buttons {
    margin: 1.5rem 0;
}
